<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @attendance.user %>
</p>

<p>
  <strong>Event:</strong>
  <%= @attendance.event %>
</p>

<p>
  <strong>Has attended:</strong>
  <%= @attendance.has_attended %>
</p>

<p>
  <strong>User type:</strong>
  <%= @attendance.user_type %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
